Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [2]:
'''
A database is an organized collection of structured information or data, typically stored electronically in a computer system. Databases are managed by Database Management Systems (DBMS) which facilitate data storage, retrieval, and management.

SQL (Structured Query Language) databases are relational databases that use SQL as their query language. They are designed to handle structured data with predefined schemas and relationships between tables. Examples include MySQL, PostgreSQL, and Oracle.

NoSQL (Not Only SQL) databases are non-relational databases designed to handle unstructured or semi-structured data with flexible schemas. They are typically used for large-scale data storage and real-time web applications. Examples include MongoDB, Cassandra, and Redis.

Differences between SQL and NoSQL databases:

Schema: SQL databases have a fixed schema with structured tables, while NoSQL databases have dynamic schemas with flexible data models.
Data Model: SQL databases use tables with rows and columns; NoSQL databases use various data models like key-value pairs, documents, columns, or graphs.
Scalability: SQL databases typically scale vertically (by increasing server capacity), while NoSQL databases often scale horizontally (by adding more servers).
Transactions: SQL databases provide ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring reliable transactions. NoSQL databases might provide eventual consistency rather than strict ACID compliance
'''

'\nA database is an organized collection of structured information or data, typically stored electronically in a computer system. Databases are managed by Database Management Systems (DBMS) which facilitate data storage, retrieval, and management.\n\nSQL (Structured Query Language) databases are relational databases that use SQL as their query language. They are designed to handle structured data with predefined schemas and relationships between tables. Examples include MySQL, PostgreSQL, and Oracle.\n\nNoSQL (Not Only SQL) databases are non-relational databases designed to handle unstructured or semi-structured data with flexible schemas. They are typically used for large-scale data storage and real-time web applications. Examples include MongoDB, Cassandra, and Redis.\n\nDifferences between SQL and NoSQL databases:\n\nSchema: SQL databases have a fixed schema with structured tables, while NoSQL databases have dynamic schemas with flexible data models.\nData Model: SQL databases use tables with rows and columns; NoSQL databases use various data models like key-value pairs, documents, columns, or graphs.\nScalability: SQL databases typically scale vertically (by increasing server capacity), while NoSQL databases often scale horizontally (by adding more servers).\nTransactions: SQL databases provide ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring reliable transactions. NoSQL databases might provide eventual consistency rather than strict ACID compliance\n'

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [5]:
'''
DDL (Data Definition Language) is a subset of SQL commands used to define and manage database structures, such as tables and schemas.
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    Name VARCHAR(50),
    Position VARCHAR(50)
);

DROP: Used to delete existing database objects.


DROP TABLE Employees;
ALTER: Used to modify the structure of an existing database object.

ALTER TABLE Employees
ADD Salary DECIMAL(10, 2);
TRUNCATE: Used to remove all records from a table but keep the table structure intact.

TRUNCATE TABLE Employees;
'''

'\nDDL (Data Definition Language) is a subset of SQL commands used to define and manage database structures, such as tables and schemas.\nCREATE TABLE Employees (\n    EmployeeID INT PRIMARY KEY,\n    Name VARCHAR(50),\n    Position VARCHAR(50)\n);\n\nDROP: Used to delete existing database objects.\n\n\nDROP TABLE Employees;\nALTER: Used to modify the structure of an existing database object.\n\nALTER TABLE Employees\nADD Salary DECIMAL(10, 2);\nTRUNCATE: Used to remove all records from a table but keep the table structure intact.\n\nTRUNCATE TABLE Employees;\n'

In [7]:

Q1. What is a database? Differentiate between SQL and NoSQL databases.
A database is an organized collection of structured information or data, typically stored electronically in a computer system. Databases are managed by Database Management Systems (DBMS) which facilitate data storage, retrieval, and management.

SQL (Structured Query Language) databases are relational databases that use SQL as their query language. They are designed to handle structured data with predefined schemas and relationships between tables. Examples include MySQL, PostgreSQL, and Oracle.

NoSQL (Not Only SQL) databases are non-relational databases designed to handle unstructured or semi-structured data with flexible schemas. They are typically used for large-scale data storage and real-time web applications. Examples include MongoDB, Cassandra, and Redis.

Differences between SQL and NoSQL databases:

Schema: SQL databases have a fixed schema with structured tables, while NoSQL databases have dynamic schemas with flexible data models.
Data Model: SQL databases use tables with rows and columns; NoSQL databases use various data models like key-value pairs, documents, columns, or graphs.
Scalability: SQL databases typically scale vertically (by increasing server capacity), while NoSQL databases often scale horizontally (by adding more servers).
Transactions: SQL databases provide ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring reliable transactions. NoSQL databases might provide eventual consistency rather than strict ACID compliance.
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
DDL (Data Definition Language) is a subset of SQL commands used to define and manage database structures, such as tables and schemas.

CREATE: Used to create new database objects, such as tables.
sql
Copy code
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    Name VARCHAR(50),
    Position VARCHAR(50)
);
DROP: Used to delete existing database objects.
sql
Copy code
DROP TABLE Employees;
ALTER: Used to modify the structure of an existing database object.
sql
Copy code
ALTER TABLE Employees
ADD Salary DECIMAL(10, 2);
TRUNCATE: Used to remove all records from a table but keep the table structure intact.
sql
Copy code
TRUNCATE TABLE Employees;

SyntaxError: invalid syntax (1897492880.py, line 1)

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [10]:
'''
DML (Data Manipulation Language) is a subset of SQL commands used to manipulate and manage data within existing database structures.

INSERT: Adds new records to a table.

INSERT INTO Employees (EmployeeID, Name, Position)
VALUES (1, 'John Doe', 'Developer');
UPDATE: Modifies existing records in a table.

UPDATE Employees
SET Position = 'Senior Developer'
WHERE EmployeeID = 1;
DELETE: Removes records from a table.

DELETE FROM Employees
WHERE EmployeeID = 1;
'''

"\nDML (Data Manipulation Language) is a subset of SQL commands used to manipulate and manage data within existing database structures.\n\nINSERT: Adds new records to a table.\n\nINSERT INTO Employees (EmployeeID, Name, Position)\nVALUES (1, 'John Doe', 'Developer');\nUPDATE: Modifies existing records in a table.\n\nUPDATE Employees\nSET Position = 'Senior Developer'\nWHERE EmployeeID = 1;\nDELETE: Removes records from a table.\n\nDELETE FROM Employees\nWHERE EmployeeID = 1;\n"

Q4. What is DQL? Explain SELECT with an example.

In [13]:
'''
DQL (Data Query Language) is a subset of SQL commands used to query and retrieve data from a database.

SELECT: Retrieves data from one or more tables.

SELECT Name, Position
FROM Employees
WHERE Position = 'Developer';
'''

"\nDQL (Data Query Language) is a subset of SQL commands used to query and retrieve data from a database.\n\nSELECT: Retrieves data from one or more tables.\n\nSELECT Name, Position\nFROM Employees\nWHERE Position = 'Developer';\n"

Q5. Explain Primary Key and Foreign Key.

In [ ]:
'''
Primary Key: A unique identifier for each record in a table. It ensures that each record is unique and not null.

sql
Copy code
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    Name VARCHAR(50)
);
Foreign Key: A field (or collection of fields) in one table that uniquely identifies a row of another table. It establishes a link between two tables.

sql
Copy code
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    EmployeeID INT,
    FOREIGN KEY (EmployeeID) REFERENCES Employees(EmployeeID)
);
'''